.git
.gitignore
.github
node_modules
**/node_modules
**/.cache
**/dist
**/build
**/.next
**/.DS_Store
**/*.log
**/*.tmp
.vscode
.idea
Dockerfile.*
!.Dockerfile
**/*.exe
platform/objs
platform/vendor
platform/platform.exe
releases/releases.exe
ui/node_modules
ui/build
test/vendor
**/*.swp
**/*.swo

